@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import "tailwindcss";

* {
  font-family: "Prata", serif;
}

a.active hr {
  display: block;
}

@media (max-width: 640px) {
  a.active {
    color: white;
    background: black;
  }
}
